<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <securityCryptographyConfiguration>
        <hashProviders>
            <add name="CifradoPasswords" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                algorithmType="System.Security.Cryptography.SHA512Cng, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                saltEnabled="true" />
        </hashProviders>
    </securityCryptographyConfiguration>
    <dataConfiguration defaultDatabase="CiudadContraDelincuencia" />
    <connectionStrings>
        <add name="CiudadContraDelincuencia" connectionString="workstation id=ciudadcontradelincuencia.mssql.somee.com;packet size=4096;user id=ssqlserver_SQLLogin_1;pwd=jo2iscstka;data source=ciudadcontradelincuencia.mssql.somee.com;persist security info=False;initial catalog=ciudadcontradelincuencia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="conexionmongo" value="mongodb://adminbdmongo:Ingenieria123@ds059694.mongolab.com:59694/ciudadcontradelincuenciaconfig"/>
    <add key="dbmongo" value="ciudadcontradelincuenciaconfig"/>
    <add key="collectionmongo" value="parametros"/>
    <add key="pwdDefault" value="holamundo"/>
    <add key="emailfrom" value="nesticor7@hotmail.com" />
    <add key="pwdEmailFrom" value="94070706827tAmAl"/>
  </appSettings>

</configuration>
